@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages_GameState.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>States</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameState[0].GameStateName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GameState) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameStateName)
            </td>

            <td>
                <a asp-page="./Details" asp-route-id="@item.GameStateId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GameStateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
